<footer>
    <div class="footer-container">
        <ul>
            <li>&#169;<span id="year"></span> Copyright | All Rights Reserved to EKL</li>
            <li>
                <a href="#">Politique de confidentialité</a> | 
                <a href="#">Mentions légales</a>
            </li>
        </ul>
    </div>
</footer>