<header>
    <!--Link contact number & mail-->
    <div class="link-contact-top">
        <div class="contact-mail">
            <p><i class="fa-solid fa-envelope"></i>&nbsp;info@gmail.com</p>
        </div>
        <div class="contact-number-phone">
            <p><i class="fa-solid fa-mobile"></i>&nbsp;+33 (0) 6XX XX XX 75</p>
        </div>
    </div>
    <!--NAV-->
    <div class="main-head" id="home">
        <!--LOGO-->
        <div class="logo">
            <h1 class="title-logo">etienne&nbsp;<span>K.L.</span></h1>
        </div>
        <!--NAV MENU-->
        <div class="nav-header">
            <nav class="nav-bar">
                <ul>
                    <li class="menu_item"><a href="#introduction" class="nav__link active">accueil</a></li>
                    <li class="menu_item"><a href="#presentation" class="nav__link">a propos</a></li>
                    <li class="menu_item"><a href="#education" class="nav__link">formation</a></li>
                    <li class="menu_item"><a href="#skill" class="nav__link">compétences</a></li>
                    <li class="menu_item"><a href="#experience" class="nav__link">expériences</a></li>
                    <li class="menu_item"><a href="#portfolio" class="nav__link">portfolio</a></li>
                    <li class="menu_item"><a href="#contact" class="nav__link">contact</a></li>
                </ul>
            </nav>
            <div class="hamburger" style="display: none">
                <div class="line"></div>
                <div class="line"></div>
                <div class="line"></div>
            </div>
        </div>
    </div>
</header>