<section id="portfolio">
  <!--Title portfolio-->
  <div class="title-portfolio">
    <h2>portfolio</h2>
    <p>Ci-dessous, quelques exemples de réalisations effectuées durant ma formation, le stage et plus encore : </p>
  </div>
  <!--End Title portfolio-->
  <!--Container portfolio-->
  <div class="container-portfolio">
  <% if (portfolioItems && portfolioItems.length) { %>
    <% portfolioItems.forEach(item => { %>
      <!-- portfolio box-1-->
      <div class="project-box">
        <!--title project 1-->
        <div class="project-title">
          <!--project image-->
          <div class="project-img">
            <!--<img src="Assets/img-portfolio/site-restaurant-xyz.png" alt="image site restaurant" class="img-portfolio"> -->
            <img src="<%= item.imgSrc %>"  alt="<%= item.altText %>" class="img-portfolio">
          </div>
          <!--Overlay-->
          <div class="overlay">
            <!--<a href="https://github.com/ImEtienne/restaurant-table-reservation" target="_blank">
              <h4>Restaurant xyz</h4>
            </a>-->
            <a href="<%= item.link %>" target="_blank">
                  <h4><%= item.title %></h4>
            </a>
          </div>
          <!--<h3>project web - restaurant-xyz</h3>-->
        </div>
      </div>
    <% }) %>
  <% } %>
  </div>
</section>